__pycache__/
*.pyc
*.pyo
*.pyd

.env

.git
.gitignore

.vscode

.idea

logs/

face_storage/

uploads/

alembic/versions/__pycache__

pytest_cache/

.mypy_cache/

coverage/

*.db

*.sqlite3

venv/

.envs/

dist/

build/